{{- $footer           := .Site.Params.footer }}
{{- $logo             := index $footer "logo" }}
{{- $quickLinks       := index $footer "quicklinks" }}
{{- $socialMedia      := index $footer "socialmedia" }}
{{- $socialMediaTitle := index $footer "socialmediatitle" }}
{{- $aboviqLogo       := index $footer "aboviqlogo" }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="{{ printf "/images/logos/%s" $logo | relURL }}">
        </div>
      </div>
      {{- range $quickLinks }}
        <div class="column">
          <div class="footer-column">
            {{ if .title }}
            <div class="footer-header">
                <h3>{{ .title }}</h3>
            </div>
            {{ end }}
            <ul class="link-list">
              {{- range .links }}
              <li>
                <a href="{{ .link }}">
                  {{ .text }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ default "Follow Us" $socialMediaTitle }}</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fab fa-lg fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>

            {{- if $aboviqLogo }}
            <a href="https://www.aboviq.com" target="_blank">
              <img class="aboviq-footer-logo" src="{{ "/images/logos/aboviq-logo.svg" | relURL }}" alt="Aboviq AB" width="110">
            </a>
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
