{{- $section3   := .Site.Params.section3 }}
{{- $title      := index $section3 "title" }}
{{- $subtitle   := index $section3 "subtitle" }}
{{- $image      := index $section3 "image" }}
{{- $images     := index $section3 "images" }}
{{- $titleFirst := index $section3 "titlefirst" }}
{{- $id         := index $section3 "id" }}
{{- $buttonText := index $section3 "buttontext" }}
{{- $buttonLink := index $section3 "buttonlink" }}
<section class="section section-feature-grey is-medium"{{ if $id }} id="{{ $id }}"{{ end }}>
  <div class="container">
    {{- if $titleFirst }}
    <div class="title-wrapper has-text-centered mb-40">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>
    {{- end }}

    <div class="columns is-multiline is-centered is-mobile">
      {{ if $image }}
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img src="{{ printf "/images/%s" $image | relURL }}">
        </div>
      </div>
      {{ else }}
      {{- range $images }}
      <div class="column is-half-mobile is-one-quarter-tablet">
        <div class="has-text-centered">
          <img{{ if .cssclass }} class="{{ .cssclass }}"{{ end }} src="{{ printf "/images/%s" .image | relURL }}" alt="{{ .alt }}">
        </div>
        {{ if or .title .description }}
        <div class="content mt-20">
          {{ if .title }}
          <h4>{{ .title }}</h4>
          {{ end }}
          {{ if .description }}
          <p class="muted-grey">{{ .description }}</p>
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{- end }}
      {{ end }}
    </div>

    {{- if not $titleFirst }}
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>
    {{- end }}

    <p class="has-text-centered mt-20">
      <a class="button cta is-large rounded secondary-btn raised" href="{{ $buttonLink }}">
        {{ $buttonText }}
      </a>
    </p>
  </div>
</section>
